<!doctype html>
<html>
  <head>
    <title>Resume</title>
    <link
      rel="shortcut icon"
      href="{{ url_for('static', filename='favicon.png') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/about.css') }}"
      type="text/css"
    />
    <img
      src="{{url_for('static', filename='images/gradyr.png')}}"
      id="logo"
      alt="logo"
    />

    <div class="topnav">
      <a href="{{ url_for('hello_world') }} ">Home</a>
      <a href="{{ url_for('aboutme')}}">About Me</a>
      <a href="{{ url_for('portfolio')}}">Portfolio</a>
      <a class="active" href="{{ url_for('resume')}}"> Resume</a>

      <a href="{{url_for('contact')}}">Contact Me</a>
    </div>
  </head>
  <body>
    <h1>Resume</h1>
    <div class="pdf-container">
      <embed
        class="pdf"
        src="{{url_for('static', filename='images/1024CrisRes.pdf')}}"
        type="application/pdf"
      />
    </div>
  </body>
</html>
