<!DOCTYPE html>
<html lang="en">
  <head>

<meta charset="UTF-8">
<title>About Me</title>
<meta name="viewport" content="width=device-width,initial-scale=1">
<link rel="stylesheet" href="{{ url_for('static', filename='css/about.css') }}" type="text/css">
<style>
</style>
<script src=""></script>
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.png') }}">

    <main> <h1>About Me</h1></main>
    
    <div class="topnav">
      <a href="{{ url_for('hello_world') }} ">Home</a>
      <a class="active" href="{{ url_for('aboutme')}}">About Me</a>
      <a href="{{ url_for('portfolio')}}">Portfolio</a>
      <a href="{{url_for('shop')}}">Shop</a>
      <a href="{{url_for('contact')}}">Contact Me</a>
    </div>
</head>
<body>





  <img src="https://d294df8b-f88b-42eb-912c-60fea18e914a-00-1o8y0m0uzsuvk.worf.replit.dev/static/catalina.jpg" class="centered-photo" alt="Cristina" style="width:30%">
  <p id="firstp">
    Hello, my name is Cristina Hernandez. I am 33 years old and I am a creative and free soul. Growing up I was the kid with cuts on her legs from all the crazy running and climbing around. I loved watching my father build things around the house and I would always grab a few sticks, some mud, and pretended I was helping. It was amazing to see how things were built, to this day I always have a curiousity of how things are made. I was also the girl with an imagination and a passion for art. I loved to draw and color, which at some point when asked as a class assignment what I wanted to be in when I grew up, my reply was to be an artist. </p>
  <p> I grew up listening to and appreciating music as well. I had my cd player and cd's of all sorts of music from Metallica to Blink 182 and The Doors. Most of which were stolen from my sisters CD album, but I enjoyed them none the less. I was inspired to learn the guitar and attempted to sing along to some of my favorite songs. </p>
  <p> When I wasn't playing the guitar, I was playing soccer out in the field or streets with my cousins and friends. I've always been in love with sports and never stopped. Today, I still play both soccer and softball recreationally. I am a huge fan of the Los Angeles Dodgers and Angel City FC. 
  </p>
  <p>
    I have a cat named Indigo. He is so handsome and I love him so much. He is 8 years old and such a good boy. My favorite thing about him is his chill energy. They say that pets take on their owners characteristics, so I guess you can say the same about me. When I'm relaxing on the couch, he loves to come sit and watch tv with me. He is loving in his own way but my goodness does he shed a thousand coats a day! 
  </p>

</div>

</body>
</html>