<!DOCTYPE html>
<html>
  <head> <!-- styling, libraries, info used to render the body-->
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.png') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/about.css') }}" type="text/css">

    <style>
      body {
        font-family: 'Poppins';font-size: 22px;
    }
    </style>
    <title>Welcome! </title>
  </head>
  
<!--#what you want to show on the page -->

    <h1> Cristina Hernandez</h1>
      
    <div class="topnav">
      <a class="active" href="{{ url_for('hello_world') }}" >Home</a>
      <a href="{{ url_for('aboutme')}}">About Me</a>
      <a href="{{ url_for('portfolio')}}">Portfolio</a>
      <a href="{{ url_for('resume')}}"> Resume</a>
      <a href="{{url_for('contact')}}">Contact Me</a>
    </div>

      

      <img id="banner" src="{{ url_for('static', filename='images/Cristina.png') }}" alt="Cristina">
  <img
    src="{{url_for('static', filename='images/Cristina.jpg')}}"
    class="centered-photo"
    id = "banner"
    alt = "banner"
  />
 
      
  </body>
 

</html>