<!doctype html>
<html>
  <head>
    <!-- styling, libraries, info used to render the body-->

    <link
      rel="shortcut icon"
      href="{{ url_for('static', filename='favicon.png') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/about.css') }}"
      type="text/css"
    />

    <title>Welcome!</title>
  </head>

  <!--#what you want to show on the page -->

  <img
    src="{{url_for('static', filename='images/gradyr.png')}}"
    id="logo"
    alt="logo"
  />
  
  <div class="topnav">
    <a class="active" href="{{ url_for('hello_world') }}">Home</a>
    <a href="{{ url_for('aboutme')}}">About Me</a>
    <a href="{{ url_for('portfolio')}}">Portfolio</a>
    <a href="{{ url_for('resume')}}"> Resume</a>
    <a href="{{url_for('contact')}}">Contact Me</a>
  </div>
  <body>
    <img
      src="{{url_for('static', filename='images/crishome.jpg')}}"
      id="banner"
      alt="banner"
    />
  </body>
</html>
