<!DOCTYPE html>
<html>
  <head>
    <title> Portfolio </title>
    
    <body>
      
      <a href=" {{ url_for('hello_world') }} " ><button> Home </button></a>
      
      <h1>
        Welcome to my portfolio!
      </h1>

      <p>
        I have 10+ years of experience in the workforce mainly in Customer Service. I have worked with a variety of companies, before I continued my education at California State University, Fullerton. I started as a cashier and steadily grew my skills as I transitioned into Administration. Today, I work for a small company handling all of their billing and scheduling, proving my exceptional attention to detail. </p>
      <p> My time at CSUF has been nothing but amazing and I have learned so many new skills and interacted with a variety of students and professors. I have worked on projects on my own as well as in teams where I have taken the role of both a supporting member as well as a leader in the group. I am most proud of my work as a leader in my cyber security class, where I have been able to keep the entire team on task as well as provide support on areas as needed. </p>
      <p> I am looking for a role as a Computer Science Intern where I can leverage all the skills I have aquired from my past experiences in order to succeed and continure to grow within a company. I would love to work for a company that shares the same values as I do, which is, good work is done with <em>focus</em>, great work is done with <strong>grit </strong>.        
      </p>

      <a href="https://www.linkedin.com/in/cristina-hernandez-06a0971b8/"><button> LinkedIn </button></a>

      <a href="{{ url_for('resume')}}"><button> Resume </button></a>

       <a href="https://github.com/cristinahh"><button> Github </button></a>
      
    </body>
    
  </head>
  
</html>
  